.NavBar {
  padding: 10px;
  margin-bottom: 10px;

  background-color: burlywood;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.link:not(:last-child) {
  margin-right: 20px;
}

.link:hover,
.link:focus {
  color: red;
}

.activeLink {
  border-bottom: 2px solid blue;
}
